/*GENERAL STYLES*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: #F5F5F5;
    color: var(--primary-text-color);
}

.list {
    list-style: none;  
    }

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color:#2196F3;
}

/*HEADER*/

.logo {
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.nav-link {
    color: #212121;
}

.contact-link {
    color: #757575;
}

/*TITLE*/

.benefits .title {
    color: var(--title-text-color);
}

.activity .title {
    color: var(--title-text-color);
}

.team .title {
    color: var(--title-text-color);
}

.portfolio .title {
    color: var(--title-text-color);
}



/*FOOTER*/

.logo-white {
    color: #FFFFFF;
}

.address-map-link {
    color: #FFFFFF;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}